@import "tailwindcss";

@font-face {
  font-family: "Pixelify Sans";
  src: url("./fonts/PixelifySans-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "Pixelify Sans";
  src: url("./fonts/PixelifySans-Medium.ttf");
  font-weight: 500;
}

@font-face {
  font-family: "Pixelify Sans";
  src: url("./fonts/PixelifySans-SemiBold.ttf");
  font-weight: 600;
}

@font-face {
  font-family: "Pixelify Sans";
  src: url("./fonts/PixelifySans-Bold.ttf");
  font-weight: 700;
}

@theme {
  --font-pixelify: "Pixelify Sans";

  --color-red: #f61400;
  --color-blue: #0212fe;
  --color-cyan: #99e3e2;
  --color-magenta: #f728e4;
  --color-yellow: #fab044;
}

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  font-family: "Pixelify Sans", sans-serif;
}

body {
  overflow: hidden;
}

#root {
  width: 100vw;
  height: 100vh;
}

.fullscreen {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
}

.theme-black {
  --primary-window-color: black;
  --secondary-window-color: white;

  &.inverted {
    --primary-window-color: white;
    --secondary-window-color: black;
  }
}

.theme-red {
  --primary-window-color: white;
  --secondary-window-color: var(--color-red);

  &.inverted {
    --primary-window-color: var(--color-red);
    --secondary-window-color: white;
  }
}

.theme-blue {
  --primary-window-color: var(--color-blue);
  --secondary-window-color: white;
}

.theme-cyan {
  --primary-window-color: var(--color-cyan);
  --secondary-window-color: black;
}

.theme-yellow {
  --primary-window-color: var(--color-yellow);
  --secondary-window-color: black;

  &.inverted {
    --primary-window-color: black;
    --secondary-window-color: var(--color-yellow);
  }
}

.theme-magenta {
  --primary-window-color: var(--color-magenta);
  --secondary-window-color: black;

  &.inverted {
    --primary-window-color: black;
    --secondary-window-color: var(--color-magenta);
  }
}

.window {
  position: absolute;
  border: 5px solid var(--secondary-window-color);
  border-radius: 5px;
  padding: 7px;
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--secondary-window-color);
  border: var(--primary-window-color);
  color: var(--primary-window-color);
  transform-origin: center;
  text-transform: uppercase;
  border: 5px solid var(--primary-window-color);

  /* INNER BAR */
  & > .inner-bar {
    width: 100%;
    color: var(--primary-window-color);
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    font-size: 2rem;
    line-height: 70%;
    font-weight: 500;
    margin-bottom: 0.5rem;
    cursor: grab;

    &.grabbing {
      cursor: grabbing;
    }

    & > h2 {
      -webkit-user-select: none;
      user-select: none;
    }

    & > .close-button {
      min-width: 0;
      cursor: pointer;

      & > svg > path {
        fill: var(--primary-window-color);
      }
    }

    & > button:not(.close-button) {
      min-width: 132px;
      margin: auto;
      display: block;
      text-transform: uppercase;
      font-size: 28px;
      line-height: 80%;
      padding: 40px 8px;
      border-radius: 5px;
      border-color: var(--secondary-window-color);
      cursor: pointer;
    }
  }

  /* INNER WINDOW */
  & > .inner-window {
    background-color: var(--primary-window-color);
    color: var(--secondary-window-color);
    width: 100%;
    height: 100%;

    & > h2,
    p,
    ul,
    li,
    a {
      -webkit-user-select: none;
      user-select: none;
    }
  }
}
