@import "tailwindcss";

@font-face {
  font-family: "Pixelify Sans";
  src: url("./fonts/PixelifySans-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "Pixelify Sans";
  src: url("./fonts/PixelifySans-Medium.ttf");
  font-weight: 500;
}

@font-face {
  font-family: "Pixelify Sans";
  src: url("./fonts/PixelifySans-SemiBold.ttf");
  font-weight: 600;
}

@font-face {
  font-family: "Pixelify Sans";
  src: url("./fonts/PixelifySans-Bold.ttf");
  font-weight: 700;
}

@theme {
  --font-pixelify: "Pixelify Sans";

  --color-blue: #0212fe;
  --color-yellow: #fab044;
  --color-red: #f61400;
  --color-cyan: #99e3e2;
  --color-magenta: #f728e4;
}

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  font-family: "Pixelify Sans", sans-serif;
}

body {
  overflow: hidden;
}

#root {
  width: 100vw;
  height: 100vh;
}

.fullscreen {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
}

.window {
  position: absolute;
  border: 5px solid white;
  border-radius: 5px;
  padding: 7px;
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: white;
  border: black;
  color: black;
  transform-origin: center;
  text-transform: uppercase;
  border: 5px solid black;

  & > .inner-bar {
    width: 100%;
    color: black;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    font-size: 2rem;
    line-height: 70%;
    font-weight: 500;
    margin-bottom: 0.5rem;
    cursor: grab;

    &.grabbing {
      cursor: grabbing;
    }

    & > h2 {
      -webkit-user-select: none;
      user-select: none;
    }

    & > .close-button {
      min-width: 0;
      cursor: pointer;
    }

    & > button:not(.close-button) {
      min-width: 132px;
      margin: auto;
      display: block;
      text-transform: uppercase;
      font-size: 28px;
      line-height: 80%;
      padding: 40px 8px;
      border-radius: 5px;
      border-color: white;
      cursor: pointer;
    }
  }

  & > .inner-bar > button > svg > path {
    fill: black;
  }

  & > .inner-window {
    background: black;
    color: white;
    width: 100%;
    height: 100%;
  }
}
