@import "tailwindcss";

@font-face {
  font-family: "Pixelify Sans";
  src: url("./fonts/PixelifySans-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "Pixelify Sans";
  src: url("./fonts/PixelifySans-Medium.ttf");
  font-weight: 500;
}

@font-face {
  font-family: "Pixelify Sans";
  src: url("./fonts/PixelifySans-SemiBold.ttf");
  font-weight: 600;
}

@font-face {
  font-family: "Pixelify Sans";
  src: url("./fonts/PixelifySans-Bold.ttf");
  font-weight: 700;
}

@theme {
  --font-pixelify: "Pixelify Sans";

  --color-red: #f61400;
  --color-blue: #0212fe;
  --color-cyan: #99e3e2;
  --color-magenta: #f728e4;
  --color-yellow: #fab044;

  --breakpoint-xs: 32rem;
}

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  font-family: "Pixelify Sans", sans-serif;
}

body {
  width: 100vw;
  height: 100vh; /* Fallback */
  height: 100dvh; /* Dynamic viewport height - adjusts as mobile UI appears/disappears */
  max-width: 100vw;
  max-height: 100dvh;
  overflow: hidden;
}

.fullscreen {
  position: absolute;
  width: 100vw;
  height: 100vh; /* Fallback */
  height: 100dvh; /* Dynamic viewport height */
  top: 0;
  left: 0;
}

.theme-black {
  --primary-window-color: black;
  --secondary-window-color: white;

  &.inverted {
    --primary-window-color: white;
    --secondary-window-color: black;
  }
}

.theme-red {
  --primary-window-color: white;
  --secondary-window-color: var(--color-red);

  &.inverted {
    --primary-window-color: var(--color-red);
    --secondary-window-color: white;
  }
}

.theme-blue {
  --primary-window-color: var(--color-blue);
  --secondary-window-color: white;
}

.theme-cyan {
  --primary-window-color: var(--color-cyan);
  --secondary-window-color: black;
}

.theme-yellow {
  --primary-window-color: var(--color-yellow);
  --secondary-window-color: black;

  &.inverted {
    --primary-window-color: black;
    --secondary-window-color: var(--color-yellow);
  }
}

.theme-magenta {
  --primary-window-color: var(--color-magenta);
  --secondary-window-color: black;

  &.inverted {
    --primary-window-color: black;
    --secondary-window-color: var(--color-magenta);
  }
}

@keyframes wobble {
  from {
    rotate: -5deg;
    scale: 1;
  }
  to {
    rotate: 5deg;
    scale: 1.2;
  }
}

.background {
  z-index: -1;
}

.desktop {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 5;
  padding: 2rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 250px;
  gap: 1rem;
  overflow: hidden;

  @media (width >= 48rem) {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 168px; /* 120px (icon) + 40px (icon title) + 8px (icon margin top) = 168px*/
  }

  > .desktop-icons-main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    grid-area: 2 / 1;
    width: 100%;
    max-width: 52rem;
    margin: 0 auto;

    @media (width >= 48rem) {
      grid-template-columns: repeat(4, 1fr);
    }

    & > .desktop-icon {
      display: flex;
      flex-direction: column;
      align-items: center;
      cursor: pointer;
      width: 80px;
      text-align: center;
      margin: 0 auto;

      @media (width >= 48rem) {
        width: 120px;
      }

      & > .desktop-icon-image,
      & > .desktop-icon-missing {
        width: 100%;
        transition: scale 0.2s ease, rotate 0.2s ease-out;
        user-select: none;
      }

      &:hover > .desktop-icon-image,
      &:hover > .desktop-icon-missing {
        @media (width >= 48rem) {
          scale: 1.4;
          rotate: -10deg;
        }
      }

      & > .desktop-icon-missing {
        background-color: white;
        border-radius: 5px;
        border: 3px solid black;
        padding-bottom: 100%;
      }

      & > .desktop-icon-title {
        text-align: center;
        font-size: 1.5rem;
        line-height: 1.5rem;
        margin-top: 0.5rem;
        font-weight: 700;
        text-transform: uppercase;
        text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
        user-select: none;
        z-index: 1;

        @media (width >= 48rem) {
          font-size: 2rem;
          line-height: 2.5rem;
        }
      }
    }
  }

  > .bg-text {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    user-select: none;

    @media (width >= 48rem) {
      margin-top: 0;
    }

    > div {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;

      > div {
        position: relative;
        display: grid;

        &:nth-child(1) {
          font-size: 20vw;
          line-height: 100%;
          margin-bottom: 0.5rem;
          @media (width >= 48rem) {
            font-size: 14vw;
          }
          > span:nth-of-type(1) {
            animation-delay: -0.3s;
          }
          > span:nth-of-type(2) {
            animation-delay: -0.5s;
          }
        }
        &:nth-child(2) {
          font-size: 16vw;
          line-height: 100%;
          @media (width >= 48rem) {
            font-size: 12vw;
          }
          > span:nth-of-type(1) {
            animation-delay: 0s;
          }
          > span:nth-of-type(2) {
            animation-delay: -0.2s;
          }
        }

        > span {
          position: relative;
          transform-origin: center center;
          animation: wobble 2s alternate infinite ease-in-out;
          grid-area: 1 / 1;
          line-height: 10vw;
        }

        > span:nth-of-type(1) {
          color: var(--color-magenta);
          animation: wobble 2s alternate infinite ease-in-out;
        }

        > span:nth-of-type(2) {
          color: var(--color-cyan);
          transform-origin: center center;
          animation: wobble 2s alternate infinite ease-in-out;
        }
      }
    }
  }
}

.window {
  position: absolute;
  z-index: 10; /* 10 should be the starting z-index for all windows*/
  top: 0;
  left: 0;
  width: 100%;

  & > div {
    transform-origin: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    padding: 7px;
    background-color: var(--secondary-window-color);
    border: var(--primary-window-color);
    color: var(--primary-window-color);
    text-transform: uppercase;
    border: 5px solid var(--primary-window-color);
  }

  @media (width >= 48rem) {
    width: auto;

    &.about-me {
      left: 55vw;
      top: 40vh;
    }

    &.experiments {
      left: 30vw;
      top: 10vh;
    }

    &.socials {
      left: 20vw;
      top: 20vh;
    }

    &.contact {
      left: 10vw;
      top: 50vh;
    }
  }

  /* INNER BAR */
  & > div > .inner-bar {
    width: 100%;
    color: var(--primary-window-color);
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    font-size: 1.625rem;
    line-height: 1.25rem;
    font-weight: 500;
    cursor: grab;
    margin-bottom: 0.25rem;

    @media (width >= 48rem) {
      font-size: 2.375rem;
      line-height: 1.5rem;
      margin-bottom: 0.5rem;
    }

    &.grabbing {
      cursor: grabbing;
    }

    & > h2 {
      -webkit-user-select: none;
      user-select: none;
    }

    & > .close-button {
      min-width: 0;
      width: 20px;
      height: 20px;
      cursor: pointer;

      @media (width >= 48rem) {
        width: 28px;
        height: 28px;
      }

      & > svg {
        width: 100%;
        height: 100%;
      }

      & > svg > path {
        fill: var(--primary-window-color);
      }
    }
  }

  /* INNER WINDOW */
  & > div > .inner-window {
    background-color: var(--primary-window-color);
    color: var(--secondary-window-color);
    width: 100%;
    height: 100%;

    & h2,
    h3,
    p,
    ul,
    li,
    a,
    label,
    button {
      -webkit-user-select: none;
      user-select: none;
    }

    & .button {
      min-width: 132px;
      margin: auto;
      display: flex;
      align-items: center;
      justify-content: center;
      text-transform: uppercase;
      line-height: 80%;
      padding: 0.5rem 0rem;
      border-radius: 5px;
      border: 4px solid var(--secondary-window-color);
      cursor: pointer;

      @media (width >= 32rem) {
        border-width: 5px;
        padding: 0.5rem 0rem;
      }
    }
  }
}
